<div class="home-container">
  <h1>Benvingut a la nostra aplicació Angular</h1>
  <p>Aquesta és la pàgina principal de la nostra aplicació Angular. Utilitza la barra de navegació per explorar diferents seccions.</p>
  <h2>Informació sobre l'API</h2>
  <p>Estem utilitzant l'API de <a href="https://jsonplaceholder.typicode.com/" target="_blank">JSONPlaceholder</a> per obtenir dades de prova. JSONPlaceholder és una API falsa que es pot utilitzar per a proves i prototips. Proporciona dades fictícies com ara posts, comentaris, àlbums, fotos, usuaris i tasques.</p>
  <p>A la secció de "Posts", pots veure una llista de posts obtinguts de l'API de JSONPlaceholder. Pots navegar entre les pàgines de posts utilitzant els botons de navegació.</p>
</div>
